<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436284066237-vk1hus5sutdmev7mnkdi6q6dhi01ea9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436284066237-vk1hus5sutdmev7mnkdi6q6dhi01ea9f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436284066237-08r2pttk0coe02jb49r31b4541p14vap.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCF39LsQdMmth_f9fP5uoQnTF9_qep03-8</string>
	<key>GCM_SENDER_ID</key>
	<string>436284066237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hishabee.hishabee-business-manager-fl</string>
	<key>PROJECT_ID</key>
	<string>hishabee-business-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>hishabee-business-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436284066237:ios:0e7bc4af5f2d79a1f22ad4</string>
</dict>
</plist>